body{
    font-family: Arial, sans-serif;
}

.hero{
    background-color: #1E293B;
    color: white;
    padding: 10px 20px;
}

.slogan{
    color: #00BFFF;
    font-weight: bold;
}

.btn-primary{
    background-color: #00BFFF;
    border: none;
}

.btn-primary:hover{
    background-color: #009ACD;
}

h2{
    color: #121212;
    font-weight: bold;
}

.card{
    transition: transform 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

footer{
    background-color: #121212;
}

.hero-logo{ 
    max-width: 300px; 
    width: 100%; 
    height: auto; 
    margin-bottom: 5px; 
}